


<div class="top-of-day-picker">
  Set up a weekly greeting message that will be automatically sent to guests who enter your venue's network.<br>
  Keep in mind that a greeting message assigned to a night will appear <b>every week</b>.<br>
  <br>
  For example, a Friday greeting message will be displayed to your guests each and every Friday.<br>
  <br>
  <b>* Please make sure that the information you upload is up to date and accurate.</b>
</div>

<ul class="button-group even-12 day-picker">
  
  <li class="<%= "#{'active' if current == 'Friday'}" %>">
    <%= link_to "Friday", greeting_message_create_path(:id => venue_id, :day => "Friday"), :class => "button" %>
  </li>
  <li class="<%= "#{'active' if current == 'Saturday'}" %>">
    <%= link_to "Saturday", greeting_message_create_path(:id => venue_id, :day => "Saturday"), :class => "button" %>
  </li>
  <li class="<%= "#{'active' if current == 'Sunday'}" %>">
    <%= link_to "Sunday", greeting_message_create_path(:id => venue_id, :day => "Sunday"), :class => "button" %>
  </li>
  <li class="<%= "#{'active' if current == 'Monday'}" %>">
    <%= link_to "Monday", greeting_message_create_path(:id => venue_id, :day => "Monday"), :class => "button" %>
  </li>
  <li class="<%= "#{'active' if current == 'Tuesday'}" %>">
    <%= link_to "Tuesday", greeting_message_create_path(:id => venue_id, :day => "Tuesday"), :class => "button" %>
  </li>
  <li class="<%= "#{'active' if current == 'Wednesday'}" %>">
    <%= link_to "Wednesday", greeting_message_create_path(:id => venue_id, :day => "Wednesday"), :class => "button" %>
  </li>
  <li class="<%= "#{'active' if current == 'Thursday'}" %>">
    <%= link_to "Thursday", greeting_message_create_path(:id => venue_id, :day => "Thursday"), :class => "button" %>
  </li>

</ul>




