<% content_for :title, "Yero -  Venues" %>


<%if @device == "mobile"%>
<div class="off-canvas-wrap" data-offcanvas>
<%else%>
<div class="off-canvas-wrap move-right" data-offcanvas>
<%end%>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
      <section class="middle tab-bar-section">
        <h3 class="title">Greeting Message</h3>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <%= render "/venues/sidebar", current: "greeting-message", venue_id: @venue.id %>
    </aside>

    <section class="main-section">
        <%= render "/venues/header", title: @venue.name, notice: notice %>

      <!-- content goes here -->
      <!-- <p class="grey"></p>
        <p id="notice" class="grey"><%= notice %></p>
      	<div class="index-title grey"><%=@venue.name%> | Greeting Message</div>

		<hr class="top-divider"> -->

		

      	<%= render "day_picker", current: "", venue_id: @venue.id %>
        <div class="medium-12 medium-offset-1 columns" style="margin-top:18px;">
          <div class="medium-8">
            <div class="to-start">To start, select a day.</div>

          </div>
        </div>
    </section>

    <a class="show-for-small-only exit-off-canvas"></a>

  </div>
</div>