<script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#img_prev')
            .attr('src', e.target.result);
            // .width(450)
            // .height(200);
        };
        console.log(input.files[0])
        reader.readAsDataURL(input.files[0]);
        document.getElementById("image_type").value = "file";
        document.getElementById("submit").style.display = 'inline-block';
      }
    }

    function readPresetImage(input){
    	if (input) {
    		var output = document.getElementById('img_prev');
    		//console.log(input.value);
		    $('#img_prev').attr('src', input.value);
		    document.getElementById("image_type").value = "url";
		    document.getElementById("submit").style.display = 'inline-block';
    	}
    }

    function preview(){
    	first_dj = $('#first_dj').val();
    	second_dj = $('#second_dj').val();
    	last_call = $('#pending_last_call').val();
    	last_call_as = $('#pending_last_call_as').val();
    	admission_fee = $('#admission_fee').val();
    	drink_special = $('#drink_special').val();
    	description = $('#description').val();
    	$("div#first_dj_div").text(first_dj);
    	$("div#second_dj_div").text(second_dj);
    	$("span#last_call_div").text(last_call);
    	$("span#last_call_as_div").text(last_call_as);
    	$("span#admission_fee_div").text(admission_fee);
    	$("div#drink_special_div").text(drink_special);
    	$("div#description_div").text(description);

		if (first_dj || second_dj) {
			document.getElementById("dj_div").style.display = 'block';
		}
		else{
			document.getElementById("dj_div").style.display = 'none';
		}

		if (last_call || last_call_as) {
			document.getElementById("last_call_label_div").style.display = 'inline';
		}
		else{
			document.getElementById("last_call_label_div").style.display = 'none';
		}

		if (admission_fee) {
			document.getElementById("admission_fee_prefix").style.display = 'inline';
			document.getElementById("admission_fee_suffix").style.display = 'inline';
		}
		else{
			document.getElementById("admission_fee_prefix").style.display = 'none';
			document.getElementById("admission_fee_suffix").style.display = 'none';
		}

		if ((first_dj || second_dj) && (last_call || last_call_as || admission_fee || drink_special)){
			document.getElementById("first-hr").style.display = 'block';
		}
		else{
			document.getElementById("first-hr").style.display = 'none';
		}

		if (description && (last_call || last_call_as || admission_fee || drink_special || first_dj || second_dj)){
			document.getElementById("second-hr").style.display = 'block';
		}
		else{
			document.getElementById("second-hr").style.display = 'none';
		}


    	if (description) {
    		count_text = (100 - description.length) + " characters left"
    		
    		$("p#count").text(count_text);
    	}

    }
</script>




<% content_for :title, "Yero -  Venues" %>


<%if @device == "mobile"%>
<div class="off-canvas-wrap" data-offcanvas>
<%else%>
<div class="off-canvas-wrap move-right" data-offcanvas>
<%end%>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
      <section class="middle tab-bar-section">
        <h3 class="title">Greeting Message</h3>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <%= render "/venues/sidebar", current: "greeting-message", venue_id: @venue.id %>
    </aside>

    <section class="main-section">
    	<p class="grey"></p>
      	<p id="notice" class="grey"><%= notice %></p>
      <!-- content goes here -->
      	<div class="index-title grey"><%=@venue.name%> | Greeting Message</div>

		<hr class="top-divider">

		

      	<%= render "day_picker", current: @day.weekday_title, venue_id: @venue.id %>

		<div class="medium-12 medium-offset-1" style="margin-top:18px;">
      		<%= form_for(@greeting_message) do |f| %>
			  <% if @greeting_message.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@greeting_message.errors.count, "error") %> prohibited this greeting_message from being saved:</h2>

			      <ul>
			      <% @greeting_message.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			<div class="message-edit-form grey"  style="width: 22%; float:left">
			    <div class="venue-fields">
			    	<div class="head">Select Background</div>
			    	<p class="normal-text" style="margin-top:18px">You can use one of background images</p>
				   	<% images_array =  PresetGreetingImage.all.where(:is_active => true) %>
				   	<% images_array.in_groups_of(3, false) do |group| %>
				   		<div class="row">
						   	<% group.each do |image|%>
							   	<label class="img-radio">
							   		<input type="radio" name="image" id="image_<%=image.id%>" value="<%=image.avatar.url%>" onchange="readPresetImage(this)">
							   		<%= image_tag(image.avatar.url, :class => "preset-img") %>
							   	</label>
						   	<% end %>
					   </div>
					<% end %>
				   	<%= hidden_field_tag 'image_type', 'none' %>
				   	<p class="normal-text" style="margin-top:18px">Or upload your own design</p>
				   	<p class="normal-text" >(must be 1242px &times; 2016px)</p>
				   	
				   	<label for="greeting_message_poster" class="custom-file-upload">
					    Upload
					</label>
					<%= f.file_field :poster, {:onchange => "readURL(this)", :class => "upload"} %> 
			   	</div>
		    </div>
		    <div style="width: 1%; float:left">&nbsp;</div>
		    <div class="message-edit-form grey"  style="width: 22%; float:left">
			    <div class="venue-fields">
			    	<div class="head">Add Optional Text</div>
				    <p class="normal-text" style="margin-top:18px">Add the lineup for tonight</p>
				    <%= f.text_field :pending_first_dj, {:id => "first_dj", :onkeyup => "preview()", :placeholder => "Act #1 ex.DJ 1 (House) 10-1"} %>
				    <%= f.text_field :pending_second_dj, {:id => "second_dj", :onkeyup => "preview()", :placeholder => "Act #2"} %>
				    <hr class="form hr"> 
				   
				    <p class="normal-text" style="display:inline">Last call @ &nbsp;</p>
				    <%@time_options = ["00:00", "00:30", "01:00", "01:30", "02:00", "02:30", "03:00", "03:30", "04:00", "04:30", "05:00", "05:30", "06:00", "06:30", "07:00", "07:30", "08:00", "08:30", "09:00", "09:30", "10:00", "10:30", "11:00", "11:30"]%>
				    <%= select_tag :pending_last_call, options_for_select(@time_options, @greeting_message.pending_last_call), :onchange => "preview()", :include_blank => "hh:mm" %>
				    &nbsp;
				    <%@as_options = ["AM", "PM"]%>
				    <%= select_tag :pending_last_call_as, options_for_select(@as_options, @greeting_message.pending_last_call_as), :onchange => "preview()", :include_blank => "" %>
				    <br>
				   
				    <p class="normal-text">$ &nbsp;
				    <%= f.number_field :pending_admission_fee, {:step => 0.01, :id => "admission_fee", :onchange => "preview()", :style => "display:inline-block;"} %>
				    &nbsp;Admission</p>
				    
				    <%= f.text_field :pending_drink_special, {:id => "drink_special", :onkeyup => "preview()", :placeholder => "Drink Speciald go here"} %>
					<hr  class="form hr">

				    <%= f.text_area :pending_description, {:id => "description", :onkeyup => "preview()", :placeholder => "Use this space for anything ex. Happy Birthday Natalie!", :style => "height: 120px;resize:vertical;font-size:17px;margin-bottom: 0;", :maxlength => 100} %>
				    <div>
				    	<p class="normal-text" id="count" style="margin-bottom: 12px;">
				    		<%= 100 - (@greeting_message.pending_description.blank? ? 0 : @greeting_message.pending_description.length) %> characters left
				    	</p>
				    </div>

				    <%if !@greeting_message.greeting_posters.blank? %>
				    	<%= f.submit "Submit", :id => "submit", :class => "button small", data: { disable_with: "Please wait..."}%>
				    <% else %>
				    	<%= f.submit "Submit", :id => "submit", :class => "button small", data: { disable_with: "Please wait..."}, :style => "display:none" %>
				    <% end %>
				    <div>
				    	<p class="normal-text">
				    		Last submission pending approval.<br>
				    		You will receive an email confirmation.
				    	</p>
				    </div>
			    </div>
			</div>

			<div style="width: 1%; float:left">&nbsp;</div>
			<div class="preview"  style="width: 20%; float:left">
				<div class="head">Preview</div>
				<%= image_tag("iphone6_wireframe.png", :alt => "Preview Frame", :id => "img_prev_frame")%>
			   	<%if @greeting_message.greeting_posters.blank? %>
				<% else %>
					<%= image_tag(@greeting_message.poster.avatar.url, :alt => "Preview", :id => "img_prev") %>
				<% end %>
				<div class="preview-inner-text">
					<div id="venue-title-div"><%=@venue.name%></div>
					
					<%if (@greeting_message.pending_first_dj.present? || @greeting_message.pending_second_dj.present?)%>
						<div class="inner-text" id="dj_div" style="display:block">Tonight's DJ lineup:<br><br></div>
					<%else%>
						<div class="inner-text" id="dj_div" style="display:none">Tonight's DJ lineup:<br><br></div>
					<%end%>	
					<div class="inner-text" id="first_dj_div"><%=@greeting_message.pending_first_dj %></div>
					<div class="inner-text" id="second_dj_div"><%=@greeting_message.pending_second_dj %></div>
					<%if (@greeting_message.pending_first_dj.present? || @greeting_message.pending_second_dj.present?) && (@greeting_message.pending_last_call.present? || @greeting_message.pending_last_call_as.present? || @greeting_message.pending_admission_fee.present? || @greeting_message.pending_drink_special.present?)%>
						<hr id="first-hr" class="preview hr" style="display:block">
					<%else%>
						<hr id="first-hr" class="preview hr" style="display:none">
					<%end%>		
					<%if (@greeting_message.pending_last_call.present? || @greeting_message.pending_last_call_as.present?)%>
						<span id="last_call_label_div" style="display:inline">Last call @ </span>
					<%else%>
						<span id="last_call_label_div" style="display:none">Last call @ </span>
					<%end%>					
					
					<span id="last_call_div"><%=@greeting_message.pending_last_call %></span>
					<span id="last_call_as_div"><%=@greeting_message.pending_last_call_as %></span>
					<div class="inner-text">
						<%if (@greeting_message.pending_admission_fee.present?)%>
							<span id="admission_fee_prefix" style="display:inline">$</span>
						<%else%>
							<span id="admission_fee_prefix" style="display:none">$</span>
						<%end%>	
						<span id="admission_fee_div"><%=@greeting_message.pending_admission_fee %></span>
						<%if (@greeting_message.pending_admission_fee.present?)%>
							<span id="admission_fee_suffix" style="display:inline"> admission</span>
						<%else%>
							<span id="admission_fee_suffix" style="display:none"> admission</span>
						<%end%>	
					</div>
					<div class="inner-text" id="drink_special_div"><%=@greeting_message.pending_drink_special %></div>
					<%if (@greeting_message.pending_description.present?) && (@greeting_message.pending_last_call.present? || @greeting_message.pending_last_call_as.present? || @greeting_message.pending_admission_fee.present? || @greeting_message.pending_drink_special.present?)%>
						<hr id="second-hr" class="preview hr" style="display:block">
					<%else%>
						<hr id="second-hr" class="preview hr" style="display:none">
					<%end%>

					<div class="inner-text" id="description_div"><%=@greeting_message.pending_description %></div>
				</div>
			    
		    </div>
			<%end%>
		</div>
    </section>

  <a class="show-for-small-only exit-off-canvas"></a>

  </div>
</div>

