<% body_class "contact" %>
<% content_for :title , "Password Reset" %>
<header class="page-header">
	<div class="row">
		
		    <% if !flash[:danger].blank? %>
		    	<div class="medium-12 columns">
		    		<h2>Please try again!</h2>
		    	</div>
		    <% elsif !flash[:success].blank? %>
		    	<div class="medium-12 columns">
			    	<div class="alert-box success"><%= flash[:success] %></div>
			    	<h2>Your password has been reset</h2>
			    </div>
		   	<% else %>
		   		<div class="medium-12 columns">
		   			<h2>Change your password</h2>
		   		</div>
		    <% end %>		
		</div>
	</div>
</header>

<section class="page-content contact-content">
	<div class="row">
		<div class="medium-11 medium-offset-1 columns">
			<% if flash[:success].blank? %>
				<p>With your privacy and security in mind, please choose a new password that is at least 6 characters long.</p>
				<p>If you use this email address for other services, we recommend using a different password.</p>
			<% end %>
			<% if !flash[:danger].blank? %>
		    	<% if !@error.blank? %>
			    	<div id="error_explanation">
				    	<div>
				    		<ul>
				    			<% @error.each do |msg| %>
					      			<li>* <%= msg %></li>
					      		<% end %>
				    		</ul>	
				      	</div>
				    </div>
				<% end %>
			<% end %>
			<% if flash[:success].blank? %>
				<p>
					<%= form_for @user, as: :user,  url: password_reset_path, method: :post do |f|%>
						<%= f.text_field :email, placeholder: "Email", value: "" %>
						<%= f.password_field :password, placeholder: "New Password" %>
						<%= f.password_field :password_confirmation, placeholder: "New Password Confirmation" %>
						<%= f.hidden_field :password_reset_token, value: @user.password_reset_token %>
						<%= f.submit "Change Password", :class => "button button-wide button-arr radius small-12"%>
					<% end %>
				</p>
			<% end %>
		</div>
	</div>
</section>