<% body_class "contact" %>
<% content_for :title , "Reset Password" %>
<header class="page-header">
	<div class="row">
		<div class="medium-12 columns">
			<h2>Change Password</h2>
		</div>
	</div>
</header>

<section class="page-content contact-content">
	<div class="row">
		<div class="medium-11 medium-offset-1 columns">
			<p>
				<%= form_for @user, as: :user,  url: password_reset_path, method: :post do |f|%>
					<%= f.text_field :email, placeholder: "Email", value: "" %>
					<%= f.password_field :password, placeholder: "Password" %>
					<%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
					<%= f.hidden_field :key, value: @user.key %>
					<%= f.submit "Change Password", :class => "button button-wide button-arr radius medium-12"%>
				<% end %>
			</p>
		</div>
	</div>
</section>