<% body_class "for-venues" %>
<% content_for :title , "Yero for Venues" %>
<!-- <header class="page-header">
	<div class="row">
		<div class="medium-12 columns">
			<h2>For Venues</h2>
		</div>
	</div>
</header> -->
<div class="venues-hero text-center pull-up">
	<div class="row">
			<h2>Empower Your Venue</h2>
			<p  class="show-for-large-up">
				We've built the future of nightlife.<br>
				Set up your venue and get started for free.
			</p>
			<p  class="show-for-medium-only">
				We've built the future of nightlife.
				Set up your venue and get started for free.
			</p>
			<p  class="show-for-small-only">
				We've built the future of nightlife.
				Set up your venue and get started for free.
			</p>
			<a href="venues/contact" class="button button-wide button-arr radius" id="get-in-touch">Get in touch</a>

	</div>
</div>

<section class="grey padding medium-text-left small-only-text-center what-is pull-up">
	<div class="row">
		<div class="medium-6 columns medium-push-5 text-content">

			<h3>What is Yero?</h3>
			<p class="show-for-large-up">
				Yero is your city's nightlife network. Every night, thousands of users<br>join our network and connect with nearby people and venues.
			</p>
			<p class="show-for-large-up">
				Partner with us to gain access to a powerful control center. Gather better<br>
				guest insight, re-target old guests or target new ones&#8212;all from your<br>
				web browser.
			</p>

			<p class="show-for-medium-only">
				Yero is your city's nightlife network. Every night, thousands of users join our network and connect with nearby people and venues.
			</p>
			<p class="show-for-medium-only">
				Partner with us to gain access to a powerful control center. Gather better
				guest insight, re-target old guests or target new ones&#8212;all from your
				web browser.
			</p>

			<p class="show-for-small-only">
				Yero is your city's nightlife network. Every night, thousands of users join our network and connect with nearby people and venues.
			</p>
			<p class="show-for-small-only">
				Partner with us to gain access to a powerful control center. Gather better
				guest insight, re-target old guests or target new ones&#8212;all from your
				web browser.
			</p>
			<a href="https://itunes.apple.com/app/id972272976" class="venue-download-link" target="_blank" >
				<%= image_tag "AppleDownloadBadge.png"%>
			</a>
		</div>
	<!-- </div>
	<div class="row"> -->
		<div class="medium-4 medium-pull-6 small-pull-6 small-6  columns text-center image show-for-medium-up">

			<%= image_tag "yero_duo.png" %>

		</div>
	</div>
	<div class="row show-for-small-only">
		<div class="medium-4 medium-pull-6 columns text-center image">

			<%= image_tag "yero_duo.png" %>

		</div>
	</div>
</section>

<section class="page-content padding no-bottom show-for-medium-up pull-up">
	<div class="row">
		<div class="medium-4 columns text-center bottom-50">
			<h6 style="font-size:22px">Inform</h6>
			<p class="page-content-details">
				Greet nearby users with an 
				automated welcome message
			</p>

		</div>
		<div class="medium-4 columns text-center bottom-50">
			<h6 style="font-size:22px">Reach</h6>
			<p class="page-content-details">
				In-app venue profile with
				real-time information you control
			</p>
		</div>
		<div class="medium-4 columns text-center bottom-50">
			<h6 style="font-size:22px">Engage</h6>
			<p class="page-content-details">
				Automated or manual drink
				giveaways to your crowd
			</p>
		</div>
	</div>
	<div class="row">
		<div class="medium-4 columns text-center">
			<%= image_tag "left.png" %>
		</div>
		<div class="medium-4 columns text-center">
			<%= image_tag "middle.png" %>
		</div>
		<div class="medium-4 columns text-center">
			<%= image_tag "right.png" %>
		</div>
	</div>
</section>

<section class="page-content padding no-bottom show-for-small-only pull-up">
	<div class="row">
		<div class="medium-4 columns text-center bottom-30 top-10">
			<h6 style="font-size:22px">Inform</h6>
			<p>
				Greet nearby users with an <br>
				automated welcome message
			</p>

		</div>
		<div class="medium-4 columns text-center">
			<%= image_tag "left.png" %>
		</div>
	</div>
	<div class = "row grey">
		<div class="medium-4 columns text-center bottom-30 top-60">
			<h6 style="font-size:22px">Reach</h6>
			<p>
				In-app venue profile with<br>
				real-time information you control
			</p>
		</div>
		<div class="medium-4 columns text-center">
			<%= image_tag "middle.png" %>
		</div>
	</div>
	<div class="row">
		<div class="medium-4 columns text-center bottom-30 top-60">
			<h6 style="font-size:22px">Engage</h6>
			<p>
				Automated or manual drink<br>
				giveaways to your crowd
			</p>
		</div>
		<div class="medium-4 columns text-center">
			<%= image_tag "right.png" %>
		</div>
	</div>
</section>

<section class="page-content grey padding no-bottom pull-up">
	<div class="row">
		<div class="medium-12 columns text-center bottom-50">
			<h6 style="font-size:22px">A Powerful Control Centre For Your Venue</h6>
		</div>
	</div>
	<div class="row">
		<div class="medium-3 medium-offset-2 columns text-center bottom-50">
			<p>
				Access intelligent guest metrics to make better business decisions
			</p>
		</div>
		<div class="medium-4 medium-offset-1 left columns text-center bottom-50">
			<p>
				Bring back existing guests or target new ones with custom in-app promotions
			</p>
		</div>
	</div>
	<div class="row">
		<div class="medium-10 medium-centered columns text-center">
			<%= image_tag "macbook.png", :class=>'macbook'  %>
		</div>
	</div>
</section>

<section class="download padding pull-up">
<div class="row">
	<div class="medium-12 columns text-center ">
		<a href="venues/contact" class="button button-wide button-arr radius">Get in touch</a>
	</div>
</div>
</section>