<% body_class "home" %>
<% content_for :title , "Yero - Tonight's Network" %>
<div class="hero text-center">
	<div class="row">
		<div class="medium-10 medium-centered columns">
			<h2>Share The Moment</h2>
			<p class="show-for-large-up homepage-subtitle">
				Connect with people in the same club, college, <br>
				festival or just around your city.
			</p>
			<p class="show-for-small-only">
				Connect with people in the same club, college,
				festival or just around your city.
			</p>
			<p class="show-for-medium-only homepage-subtitle">
				Connect with people in the same club, college,
				festival or just around your city.
			</p>
			<a href="https://itunes.apple.com/app/id972272976" class="hero-download-link" target="_blank">
				<%= image_tag "app-store.svg"%>
			</a>
			<% if ENV['DYNAMODB_PREFIX'].nil? or ENV['DYNAMODB_PREFIX'] == 'hhProduction'%>
				<div class="show-for-medium-up">
					<%= render "linktexting"%>
				</div>
			<%end%>
			<a class="android-user" href="/android">Android User?</a>
		</div>
	</div>
</div>
<div class="feature nightlife medium-text-left small-text-center padding no-bottom">
	<div class="row">
		<div class="medium-6 medium-push-6 columns details">
			<h3>
				Tonight's Network
			</h3>
			<p class="show-for-large-up">
				Between 5PM and 5AM, people in the same club,<br>
				college or festival are displayed at the top.<br>
				No checking-in, just walk inside.
			</p>
			<p class="show-for-small-only">
				Between 5PM and 5AM, people in the same club,
				college or festival are displayed at the top.
				No checking-in, just walk inside.
			</p>
			<p class="show-for-medium-only">
				Between 5PM and 5AM, people in the same club,
				college or festival are displayed at the top.
				No checking-in, just walk inside.
			</p>
			
		</div>
		<div class="medium-4 medium-pull-6 small-pull-6 small-6 columns show-for-medium-up">
			<%= image_tag "tonights-network.png", :class => "show-for-medium-up" %>
		</div>
		<%= image_tag "tonights-network.png", :class => "tonights center show-for-small-only" %>
	</div>
</div>

<div class="feature medium-text-right small-text-center grey matching padding no-bottom">
	<div class="row">
		<div class="medium-6 medium-offset-0 columns details">
			<h3>
				Don't Yell, Whisper
			</h3>
			<div class="whisper-with-icons">
				<p class="show-for-large-up">
					You don't need another chatting app&mdash;you've got too many.<br>
					Whispers let you connect over Snapchat, Line or WeChat.<br>
					Now you can use your favorite app to break the ice.
				</p>
				<p class="show-for-small-only">
					You don't need another chatting app&mdash;you've got too many.
					Whispers let you connect over Snapchat, Line or WeChat.
					Now you can use your favorite app to break the ice.
				</p>
				<p class="show-for-medium-only">
					You don't need another chatting app&mdash;you've got too many.
					Whispers let you connect over Snapchat, Line or WeChat.
					Now you can use your favorite app to break the ice.
				</p>
				<%= image_tag "snapchat.png", :class => "chatting-icon "%>
				<%= image_tag "line.png", :class => "chatting-icon "%>
				<%= image_tag "wechat.png", :class => "chatting-icon "%>
			</div>
		</div>
		<div class="medium-4 medium-offset-1 left columns"> &nbsp;
		</div>
	</div>
		<%= image_tag "whisper-girl.png", :class => "show-for-medium-up" %>
		<%= image_tag "whisper-girl.png", :class => "whisper center show-for-small-only" %>
</div>

<div class="feature chatting medium-text-left small-text-center padding no-bottom">
	<div class="row">
		<div class="medium-6 medium-push-5 columns details">
			<h3>
				Exclusive to Tonight
			</h3>
			<p class="show-for-large-up">
				Why should connecting to a network last forever? <br>
				Unlike other apps, all active users and unanswered<br>
				chat requests expire at 5AM. 
			</p>
			<p class="show-for-medium-only">
				Why should connecting to a network last forever?
				Unlike other apps, all active users and unanswered
				chat requests expire at 5AM. 
			</p>
			<p class="show-for-small-only">
				Why should connecting to a network last forever?
				Unlike other apps, all active users and unanswered
				chat requests expire at 5AM. 
			</p>
		</div>
		<div class="medium-4 medium-pull-7 columns">
			<%= image_tag "exclusive.png", :class=>'chats-img' %>
		</div>
	</div>

</div>

<div class="feature medium-text-right network grey small-text-center padding no-bottom">
	<div class="row">
		<div class="medium-6 columns details">
			<h3>
				Next Level Nightlife
			</h3>
			<p class="show-for-large-up">
				Find new venues around town or hit up your favorite bar.<br>
				Upon arrival, see who else is inside and enjoy real-time venue<br>
				engagement&mdash;like winning free drinks.
			</p>
			<p class="show-for-medium-only">
				Find new venues around town or hit up your favorite bar.
				Upon arrival, see who else is inside and enjoy real-time venue
				engagement&mdash;like winning free drinks.
			</p>
			<p class="show-for-small-only">
				Find new venues around town or hit up your favorite bar.
				Upon arrival, see who else is inside and enjoy real-time venue
				engagement&mdash;like winning free drinks.
			</p>
		</div>
	</div>
	<%= image_tag "next-level.png", :class=>'tonight-img show-for-medium-up' %>
	<div class="row top-25">
		<%= image_tag "next-level.png", :class=>'center tonight-img show-for-small-only chats-img' %>
	</div>
</div>

<div class="download text-center padding">
	<div class="row">
		<div class="medium-4 medium-centered columns">
			<a href="https://itunes.apple.com/app/id972272976" class="hero-download-link" target="_blank">
				<%= image_tag "app-store.svg" %>
			</a>
			<a class="android-user" href="/android" style="color:black">Android User?</a>
		</div>
	</div>
</div>