<% body_class "privacy" %>
<% content_for :title , "Yero Privacy" %>
<header class="page-header">
	<div class="row">
		<div class="medium-12 columns">
			<h2>Privacy Policy</h2>
		</div>
	</div>
</header>

<section class="page-content">
	<div class="row">
		<div class="medium-8 medium-offset-1 columns">

			
				<p>Last revised on March 19, 2015</p>
				
				<br>
				
				<p>
					This Privacy Policy (“Privacy Policy”) is applicable to users who download any Software or who otherwise access or use any Services.  This Privacy Policy does not cover any interaction you may have with Yero Digital Inc. (“Yero”, “we” or “us”) by telephone, postal mail or other offline communications.  Capitalized terms used but not defined in this Privacy Policy have the meanings assigned to them in our <%= link_to "Terms of Service.", terms_path %>
				</p>

				<br>

				<b>Notice</b><br>

				<br>
				
				<p>
					Yero respects your privacy and is committed to protecting personal information that you provide in connection with your use of the Services. This Privacy Policy is intended to provide you notice of Yero’s information practices, including the types of information gathered, how information is used and safeguarded, and how you can control the maintenance and sharing of your information.
				</p>

				<br>

				<p>
					BY DOWNLOADING THE SOFTWARE OR ACCESSING OR USING THE SERVICES, YOU CONSENT TO THE TERMS AND CONDITIONS OF THIS PRIVACY POLICY AND TO OUR PROCESSING OF YOUR PERSONAL INFORMATION FOR THE PURPOSES STATED BELOW.  IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS OF THIS PRIVACY POLICY, PLEASE DO NOT DOWNLOAD THE SOFTWARE AND DO NOT ACCESS OR USE THE SERVICES.
				</p>

				<br>
				
				<b>Collection of Personally Identifiable Information and Other Data</b><br>

				<br>
				
				<p>
					To register an Account with Yero, you must provide a user name and password and a legitimate email address that you control, identify your gender and verify that you are at least 19 years of age.  We may also allow you to register for your Account using your login credentials from certain third party platforms (“Third Party Platforms”), such as Facebook or Twitter.  Your user name and gender will be available to other Yero users.  Your username, name, password, gender and any email address that you provide to us are collectively referred to as your “Account Information”.
				</p>
			
				<br>

				<p>
					Your personal profile will automatically be populated with your username and gender.  Any other information and content that you voluntarily add to your profile, such as your personal image, or that you voluntarily link to your Account from a Third Party Platform, will be made public by default and will not be subject to this Privacy Policy.  Your username and profile will be publicly searchable, and your personal image will appear in search results in addition to your profile.
				</p>

				<br>

				<div>
					<p>We may ask for your opinion about the Services from time to time. We may request or collect information from you on a voluntary basis when you:</p>
					<ol type=a>
						<li>Create your Account</li><br>
						<li>Use the Services, including to identify you as a new or returning customer</li><br>
						<li>Send questions or comments to our support team</li><br>
						<li>Fill out online surveys</li><br>
					</ol>
				</div>
				
				<p>
					We use Account Information for marketing purposes.  For example, we might send you information about special promotions or offers, or tell you about new features or products.  These might be our own offers or products, or third-party offers or products we think you might find interesting.  We may use push notifications and your location information on our mobile apps to send you information, including alerts regarding local events.
				</p>

				<br>

				<p>
					We may also use technology, such as web beacons (also known as Internet tags, pixel tags and transparent GIFs), cookies, frames, server log analysis and other technologies as they are developed, to enhance your experience with the Services. We automatically collect certain aggregate information and analytical data related to your Software usage. Aggregate information is non-personally identifiable or anonymous information about you, including the date and time of your visit, the phone network associated with your mobile device, your mobile device’s operating system or platform, the type of mobile device you use, your mobile device’s unique device ID and the Software features you accessed.  We may also use these technologies to serve you with advertising content that we think will interest you.  To do so, we or our business partners may observe your behaviors over time on the Software and across Third Party Platforms.  We may also collect information about your browsing history and/or your historical use of the Services. 
				</p>

				<br>

				<p>
					With your consent and in connection with your use of the Software, we may use GPS technology (or other similar technology) to determine your location information in order to determine those aspects of the Services you are permitted to use. You have the right to opt out of having this information collected, but if you do you will not receive the full features or functionality of the Services. 
				</p>

				<br>

				<p>
					We urge you to keep your password confidential and refrain from sharing it with others. We will not disclose, share, sell or rent your Account Information to any non-affiliated third party without your prior consent, except as specifically outlined in this Privacy Policy. 
				</p>

				<br>

				<b>Special Notice Regarding Minors Under 19 Years of Age</b><br>

				<br>
				
				<p>Yero recognizes the sensitivity of personal information concerning minors under the age of 19.</p>

				<br>
				
				<p>The Services are not directed towards young children or minors under the age of 19. We are intent on complying with applicable laws and regulations regarding minors.  Specifically, we will not knowingly collect and maintain any personally identifiable information from children under the age of 19.</p>

				<br>

				<p>
					If you are a parent or guardian who has discovered that your child has submitted his or her personal information, we will make reasonable efforts to delete the information from our database, at your request. To request the deletion of your child’s information, please send an email to <a href="mailto:support@yero.co">support@yero.co</a>. Be sure to include in your message the username, email address and password that your child submitted. 
				</p>

				<br>

				<b>Use of Information Collected</b><br>

				<br>

				<p>
					Except as specifically outlined in this Privacy Policy, we do not share your Account Information with non-affiliated third parties without your permission.  We may disclose Account Information, aggregated information, such as demographic information, and certain statistical analysis to third party service providers to ensure compliance with applicable laws and monitor for fraudulent activity, and to third party developers who are reviewing or auditing our Services.  However, before sharing your information with any such third party, we require the third party to enter into an agreement that requires that third party to keep your information confidential, and prohibits that third party from using your information for any purpose that is not related to the Services. 
				</p>

				<br>

				<p>
					We will share information with third parties who perform services on our behalf. For example, we share information with vendors who help us manage our online registration process.  We will share information with our business partners and licensors of Third Party Platforms.  This may include a third party who provides or sponsors an event, or who operates a venue where an event is being held.  Our partners use the information we give them as described in their privacy policies.  You should read those policies to learn how they treat your information. 
				</p>

				<br>

				<p>
					We disclose information, including Account Information, that we, in good faith, believe is appropriate to cooperate in investigations of fraud or other illegal activity, or to conduct investigations of violations of our  <%= link_to "Terms of Service", terms_path %>.
				</p> 

				<br>

				<p>
					We disclose information, including Account Information, in response to a subpoena, warrant, court order, attachment, order of a court-appointed receiver or other comparable legal process, including subpoenas from private parties in a civil action. If the subpoena seeks information about an identified user or limited group of users, we will make reasonable business efforts to contact the user(s) before providing information to the party that requests it.  We cannot guarantee that we will be able to contact the user(s) in all cases, whether because of a time limit, court order, inability to effectively contact a user or for any other reason. 
				</p>

				<br>

				<p>
					Except as set forth in this Privacy Policy, Yero does not sell, rent or otherwise disclose Account Information collected from and about its users to non-affiliated third parties.  However, in the event of a merger, acquisition, reorganization, bankruptcy, or other similar event, our customer information may be transferred to a successor entity or to an assignee, if permitted by and done in accordance with applicable law. 
				</p>

				<br>

				<b>Use of Cache Data</b><br>

				<br>

				<p>
					A cache is a component of your mobile device that transparently stores data for record-keeping purposes.  Cache data does not identify users, but does identify your mobile device.  Most browsers and applications are initially set up to accept such data.  If you prefer, you can program your mobile device so that it does not store this information while utilizing the Software.  Certain features of the Software may only be available through the collection of such data.  We may use such data to assist in data collection and to track software usage and trends to help us better serve you.  We also permit third parties who have entered into confidentiality agreements to access such data to help us monitor use of the Software for fraud or any other activity that does not comply with applicable laws.  This Privacy Policy covers the use of cookies and cache data on the Software by us only and does not cover the use of cookies or tracking technologies by any of our business partners. 
				</p>

				<br>
				
				<b>Account Security</b><br>

				<br>

				<p>
					The security of your Account relies on your protection of your password and mobile device. You are responsible for maintaining the security of your password and mobile device.  You are solely responsible and liable for any and all activities that occur under your Account.  You must not share your password or the Software with anyone.  We will never ask you to send your password or other sensitive information to us in an email, though we may ask you to enter this type of information on the Software interface. 
				</p>
				
				<br>

				<p>
					Any email or other communication requesting your password or asking you to provide sensitive account information via email should be treated as unauthorized and suspicious and should be reported to us immediately at <a href="mailto:support@yero.co">support@yero.co</a>.  If you share your password or your mobile device with a third party for any reason, then that person will have access to your Account and your personal information.  If you believe someone else has obtained access to your password, please change it immediately.  If you believe that unauthorized access to your Account has already occurred, please report it immediately at <a href="mailto:support@yero.co">support@yero.co</a>. 
				</p>

				<br>
				
				<p>
					We may have access to your password and may use it to access your Account for debugging, quality assurance or other internal purposes. 
				</p>

				<br>

				<b>Postings to Public Forums</b><br>

				<br>

				<p>
					All postings in our public forums will generally be available to, and freely accessible by, other users of these forums as well as the Internet general public.  Therefore, you should not expect that any information you post will be kept private or confidential and should exercise discretion when using these public forums.  Additionally, your username, which you can change, will always be included in conjunction with your postings in the public forums.  We are not responsible for events arising from the distribution of any information that you choose to post publicly or share through these forums.  All information or materials uploaded by you while utilizing the Services is subject to our  <%= link_to "Terms of Service", terms_path %>. 
				</p>

				<br>

				<b>Maintaining and Updating Your Account Information</b><br>

				<br>

				<p>
					As part of your use of the Services, you are responsible for maintaining and updating your Account Information with current and complete information. You may edit and delete portions of your Account Information. To do this, select “My Account” in the main menu and choose the information you want to edit or delete. You can also delete your Account entirely. To do this, select “Help/Customer Service” in the main menu.  Further select “Account Inquiry” and request that your account to be deleted. 
				</p>

				<br>

				<p>
					After receiving any requested changes to your Account Information, we will make reasonable efforts to ensure that all of your personal information stored in databases we actively use to operate the Services will be updated, corrected, changed or deleted, as applicable, as soon as reasonably practicable. However, we reserve the right to retain in our archival files any information we remove from or change in our active databases.  We will retain certain Account Information in order to comply with applicable laws.  We may also retain such information to resolve disputes, troubleshoot problems or enforce our  <%= link_to "Terms of Service", terms_path %>.  In addition, it may not be technologically possible to remove every record of the information you have previously provided us, as a copy may exist in a non-erasable form that will be difficult or impossible for us to locate. 
				</p>

				<br>

				<b>Governing Law; Notification of Changes</b><br>

				<br>

				<p>
					This Privacy Policy is governed by the laws of British Columbia, Canada without giving effect to any principles of conflict of law.  Please note that our Services are intended only for use by residents of Canada and the United States of America.  Yero is a Canadian company, and so we have written this Privacy Policy to satisfy Canadian privacy laws.  By using the Software and the Services, you expressly agree to that level of privacy protection.  Individuals residing outside of Canada and the United States of America should not download the Software or access or use the Services. 
				</p>

				<br>

				<b>Effective Date; Policy Changes</b><br>

				<br>

				<p>
					Each time you use the Software, the current version of our Privacy Policy will apply. Accordingly, when you use the Software, you should check the currency date of this Privacy Policy (which appears at the top) and review any changes since the last version.  Our business changes frequently and this Privacy Policy is subject to change from time to time.  Unless stated otherwise, our current Privacy Policy applies to all information that we have about you.  We will not materially change our policies and practices to make them less protective of customer information collected in the past without the consent of affected customers. 
				</p>

				<br>
				
				<b>Contact Us</b><br>

				<br>

				<p>
					To contact us with your questions or comments regarding this Privacy Policy or the information collection and dissemination practices of the Software, please email us at <a href="mailto:support@yero.co">support@yero.co</a>. 
				</p>

				<br>
				
				<p>
					Click  <%= link_to "here.", terms_path %> to see our Terms of Service.
				</p>

		</div>
	</div>
</section>