<div class="sidebar">
  <div class="item <%= "#{'active' if current == 'dashboard'}" %>">
    <%= link_to "Dashboard", venue_root_path %>
  </div>
  <div class="item <%= "#{'active' if current == 'nightly'}" %>">
    <%= link_to "Nightly Info", venue_nightly_path %>
  </div>
  <div class="item <%= "#{'active' if current == 'drink-lotto'}" %>">
    <%= link_to "Drink lottery", lotto_dash_path %>
  </div>
  <div class="item <%= "#{'active' if current == 'settings'}" %>">
    <%= link_to "Settings", edit_venue_registration_path %>
  </div>
</div>

<style>
  body {
    background-color: #fafafa;
  }
</style>