
<ul class="off-canvas-list">
  <li class="item logo">
    <%= image_tag("Logo_green.png", :alt => "logo", :class => "logo logo-green sidebar") %>
  </li>
  <br>
  <li><label>Activity</label></li>
  <li class="item <%= "#{'active' if current == 'dashboard'}" %>">
    <%= link_to "Dashboard", venue_root_path %>
  </li>
  <li class="item <%= "#{'active' if current == 'update-info'}" %>">
    <%= link_to "Update Info", venue_nightly_path %>
  </li>
  <li class="item <%= "#{'active' if current == 'drink-lotto'}" %>">
    <%= link_to "Drink Lottery", lotto_dash_path %>
  </li>
  <!-- <li class="item <%= "#{'active' if current == 'settings'}" %>">
    <%= link_to "Settings", venues_path %>
  </li> -->
  <li class="item <%= "#{'active' if current == 'advertise'}" %>">
    <%= link_to "Advertise", venues_path %>
  </li>
  <li class="item <%= "#{'active' if current == 'analytics'}" %>">
    <%= link_to "Analytics", venues_path %>
  </li>
  <li class="item <%= "#{'active' if current == 'venue-profile'}" %>">
    <%= link_to "Venue Profile", venues_path %>
  </li>
   <li class="item <%= "#{'active' if current == 'greeting-message'}" %>">
    <%= link_to "Greeting Message", venues_path %>
  </li>
</ul>




