
<ul class="off-canvas-list">
  <li class="item logo">
    <%= image_tag("Logo_green.png", :alt => "logo", :class => "logo logo-green sidebar") %>
  </li>
  <br>
  <li class="item mylabel"><span>Activity</span></li>
  <li class="item <%= "#{'active' if current == 'dashboard'}" %>">
    <%= link_to "Dashboard", venue_root_path %>
  </li>
  <li class="item mylabel"><span>Actions</span></li>
  <li class="item <%= "#{'active' if current == 'update-info'}" %>">
    <%= link_to "Update Info", venue_nightly_path %>
  </li>
  <li class="item <%= "#{'active' if current == 'drink-lotto'}" %>">
    <%= link_to "Drink Lottery", lotto_dash_path %>
  </li>
  <!-- <li class="item <%= "#{'active' if current == 'settings'}" %>">
    <%= link_to "Settings", venues_path %>
  </li> -->
  <li class="item mylabel"><span>People</span></li>
  <li class="item <%= "#{'active' if current == 'advertise'}" %>">
    <%= link_to "Advertise", venues_path %>
  </li>
  <li class="item <%= "#{'active' if current == 'analytics'}" %>">
    <%= link_to "Analytics", venues_path %>
  </li>
  <li class="item mylabel"><span>App</span></li>
  <li class="item <%= "#{'active' if current == 'venue-profile'}" %>">
    <%= link_to "Venue Profile", venues_path %>
  </li>
  <% if venue_id.present? and venue_id > 0 %>
    <li class="item <%= "#{'active' if current == 'greeting-message'}" %>">
      <%= link_to "Greeting Message", greeting_message_create_path(:id => venue_id, :day => "Friday") %>
    </li>
  <%end%>
  <li class="item <%= "#{'active' if current == 'account'}" %>">
    <%= link_to "Account", owner_account_path %>
  </li>
  <li class="item">
    <%= link_to "Logout", signout_url, :method => :delete %>
  </li>
</ul>




