<% content_for :title, "Yero -  Venues" %>
<section class="page-content padding">
	<div class="row">
		<div class="medium-10 medium-centered columns">
			<%= form_for(@venue) do |f| %>
			  <% if @venue.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

			      <ul>
			      <% @venue.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			   <div class="field">
			    <%= f.label :name %><br />
			    <%= f.text_field :name %>
			   </div>
			   <div class="field">
			   	<% types_array =  VenueType.all.collect  { |type| [type.name, type.id] } %>
			    <%= f.label :type %><br />
			    <%= f.select :venue_type_id, options_for_select(types_array, f.object.venue_type_id),{:include_blank => 'None'} %>
			   </div>
			   <div class="field">
			    <%= f.label :email %><br />
			    <%= f.text_field :email %>
			   </div>
			   <div class="field">
			    <%= f.label :phone %><br />
			    <%= f.text_field :phone %>
			   </div>
			   <div class="field">
			    <%= f.label :address %><br />
			    <%= f.text_field :address_line_one %>
			   </div>
			   <div class="field">
			    <%= f.label :city %><br />
			    <%= f.text_field :city %>
			   </div>
			   <div class="field">
			    <%= f.label :state_province %><br />
			    <%= f.text_field :state %>
			   </div>
			   <div class="field">
			    <%= f.label :country %><br />
			    <%= country_select("venue", "country", priority_countries: ["CA", "US"]) %>
			   </div>

			   <%= f.submit "SAVE ALL CHANGES", :class => "button small"%>
			<%end%>
		</div>
	</div>
</div>
