<% content_for :title, "Yero -  Venues" %>


<%if @device == "mobile"%>
<div class="off-canvas-wrap" data-offcanvas>
<%else%>
<div class="off-canvas-wrap move-right" data-offcanvas>
<%end%>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
      <section class="middle tab-bar-section">
        <h3 class="title">Venue Profile</h3>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <%= render "sidebar", current: "venue-profile", venue_id: @venue.id %>
    </aside>

    <section class="main-section">
      <!-- content goes here -->
      	<div class="index-title"><%=@venue.name%></div>

		<hr class="top-divider">
      		<%= form_for(@venue) do |f| %>
			  <% if @venue.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

			      <ul>
			      <% @venue.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			   <!-- <div class="venue-sub-title">Venue Info</div> -->
			   <div class="venue-field">
			    <%= f.label :name, :class => "venue-label" %>
			    <%= f.text_field :pending_name %>
			   </div>
			   <div class="venue-field">
			   	<% types_array =  VenueType.all.collect  { |type| [type.name, type.id] } %>
			    <%= f.label :type, :class => "venue-label" %>
			    <%= f.select :pending_venue_type_id, options_for_select(types_array, f.object.venue_type_id),{:include_blank => 'None'} %>
			   </div>
			   <div class="venue-field">
			    <%= f.label :address, :class => "venue-label" %>
			    <%= f.text_field :pending_address %>
			   </div>
			   <div class="venue-field">
			    <%= f.label :city, :class => "venue-label" %>
			    <%= f.text_field :pending_city %>
			   </div>
			   <div class="venue-field">
			    <%= f.label :state_province, :class => "venue-label" %>
			    <%= f.text_field :pending_state %>
			   </div>
			   <div class="venue-field">
			    <%= f.label :zipcode, :class => "venue-label" %>
			    <%= f.text_field :pending_zipcode %>
			   </div>
			   <div class="venue-field">
			    <%= f.label :country, :class => "venue-label" %>
			    <%= country_select("venue", "pending_country", priority_countries: ["CA", "US"]) %>
			   </div>
<%if false%>
			   <div class="venue-sub-title">Manager Info</div>
			   <div class="venue-field">
			    <%= f.label :first_name, :class => "venue-label" %>
			    <%= f.text_field :pending_manager_first_name %>
			   </div>
			   <div class="venue-field">
			    <%= f.label :last_name, :class => "venue-label" %>
			    <%= f.text_field :pending_manager_last_name %>
			   </div>
			   <div class="venue-field">
			    <%= f.label :email, :class => "venue-label" %>
			    <%= f.text_field :pending_email %>
			   </div>
			   <div class="venue-field">
			    <%= f.label :phone, :class => "venue-label" %>
			    <%= f.text_field :pending_phone %>
			   </div>
<%end%>

			   <div class="venue-field">
				   <%= f.submit "SAVE ALL CHANGES", :class => "button small", data: { disable_with: "Please wait..."}%>
				</div>
			<%end%>
    </section>

  <a class="show-for-small-only exit-off-canvas"></a>

  </div>
</div>

