<script>
	var _URL = window.URL || window.webkitURL;

    function readURL(input) {
      if (input.files && input.files[0]) {
      	var file = input.files[0];
      	var error_message = '';
      	// console.log(file)
      	if (file.type != 'image/png' && file.type != 'image/jpeg'){
	        error_message += "Invalid file type";
	        document.getElementById("greeting_message_poster").value = "";
        	alert(error_message);
      	}
      	else if (parseInt(file.size) > 100*1024){
      		error_message += "File cannot be greater than 100KB";
	        document.getElementById("greeting_message_poster").value = "";
        	alert(error_message);
      	}
      	else{
	      	var img = new Image();
	        img.onload = function () {
	        	// console.log(this.width + ' ' + this.height);
	            if (false && (parseInt(this.width) != 100 || parseInt(this.height) != 100)){
	            	error_message += "Invalid image dimensions";
	            	document.getElementById("greeting_message_poster").value = "";
		        	alert(error_message);
				}
				else{
			      	
			        var reader = new FileReader();
			        reader.onload = function (e) {
			          	$('#img_prev').attr('src', e.target.result);
			        };
			        // console.log(input.files[0]);
			        reader.readAsDataURL(input.files[0]);
			        document.getElementById("image_type").value = "file";
				}
	        };
	        img.src = _URL.createObjectURL(file);
      	}
      }
    }

</script>


<% content_for :title, "Yero -  Venues" %>


<%if @device == "mobile"%>
<div class="off-canvas-wrap" data-offcanvas>
<%else%>
<div class="off-canvas-wrap move-right" data-offcanvas>
<%end%>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
      <section class="middle tab-bar-section">
        <h3 class="title">Venue Profile</h3>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <%= render "sidebar", current: "venue-profile", venue_id: @venue.id %>
    </aside>

    <section class="main-section">
      <!-- content goes here -->
        <%= render "header", title: @venue.name, notice: notice, venue_name: @venue.name %>

      		<%= form_for(@venue) do |f| %>
			  <% if @venue.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

			      <ul>
			      <% @venue.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

			   <!-- <div class="venue-sub-title">Venue Info</div> -->
			   <div class="venue-field">
			    <%= f.label :name, :class => "venue-label" %>
			    <%= f.text_field :pending_name %>
			   </div>
			   <div class="venue-field">
			   	<% types_array =  VenueType.all.where("lower(name) not like ?", "%campus%").collect  { |type| [type.name, type.id] } %>
			    <%= f.label :type, :class => "venue-label" %>
			    <%= f.select :pending_venue_type_id, options_for_select(types_array, f.object.venue_type_id),{:include_blank => 'None'} %>
			   </div>
			   <div class="venue-field">
			    <%= f.label :address, :class => "venue-label" %>
			    <%= f.text_field :pending_address %>
			   </div>
			   <div class="venue-field">
			    <%= f.label :city, :class => "venue-label" %>
			    <%= f.text_field :pending_city %>
			   </div>
			   <div class="venue-field">
			    <%= f.label :state_province, :class => "venue-label" %>
			    <%= f.text_field :pending_state %>
			   </div>
			   <div class="venue-field">
			    <%= f.label :zipcode, :class => "venue-label" %>
			    <%= f.text_field :pending_zipcode %>
			   </div>
			   <div class="venue-field">
			    <%= f.label :country, :class => "venue-label" %>
			    <%= country_select("venue", "pending_country", priority_countries: ["CA", "US"]) %>
			   </div>
			   <div class="venue-field">
			   	<%= hidden_field_tag 'image_type', 'none' %>
			    <label for="venue_logo" class="custom-file-upload" style="width:108px;">
				    Upload Logo
				</label>
				&emsp;&emsp;&emsp;&emsp;&emsp;
				<%= f.file_field :logo, {:onchange => "readURL(this)", :class => "upload"} %> 
				<%if @venue.venue_logos.blank? %>
			   		<%= image_tag('avatar_venue_default.png', :alt => "", :id => "img_prev", :height => 100, :width => 100, :style => "border-radius:10px;max-height:100px;max-width:100px") %>
				<% else %>
					<%= image_tag(@venue.logo.avatar.url, :alt => "Preview", :id => "img_prev", :height => 100, :width => 100, :style => "border-radius:10px;max-height:100px;max-width:100px") %>
				<% end %>
			   	<p class="normal-text" style="font-size:0.675rem">Your image should be 100px by 100px, no larger than 100KB and in .PNG or .JPG format.</p>

			   </div>

			   <div class="venue-field">
				   <%= f.submit "SAVE ALL CHANGES", :class => "button small", data: { disable_with: "Please wait..."}%>
				</div>
			<%end%>
    </section>

  <a class="show-for-small-only exit-off-canvas"></a>

  </div>
</div>

