
<% content_for :title, "Yero -  Venues" %>

<%if @device == "mobile"%>
<div class="off-canvas-wrap" data-offcanvas>
<%else%>
<div class="off-canvas-wrap move-right" data-offcanvas>
<%end%>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
      
      <section class="middle tab-bar-section">
        <h3 class="title">Venue Profile</h3>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <%= render "sidebar", current: "venue-profile", venue_id: 0 %>
    </aside>

    <section class="main-section">
      <!-- content goes here -->
      	<p class="grey"></p>
      	<p id="notice" class="grey"><%= notice %></p>
      	<div class="index-title grey">Your Venues</div>

		<hr class="top-divider">

		<div class="venue-rows">
			<% @venues.each do |venue| %>
			<div class="venueBody venueShow">
			  	<span class="venue-name">
			  		<%= link_to venue.name, venue %>
				</span>
				<span class="venue-edit-link">
					<i><%= link_to 'Edit', edit_venue_url(venue) %></i>
				</span>
				<% if !venue.default_avatar.nil? %>
					<div class="img">
						<%= link_to image_tag(venue.default_avatar.avatar), venue %>
					</div>
				<% end %>
			</div><hr>
			<% end %>
		</div>
    </section>

  <a class="show-for-small-only exit-off-canvas"></a>

  </div>
</div>


