<%= render "sidebar", current: "nightly" %>
<div class="content nightly">
  <h1>nightly info</h1>
  <div class="night-box create">
    <a class="inner">
      NIGHTLY INFO FOR TONIGHT
    </a>
  </div>
  <div class="night-box">
    <a class="inner">

      <div class="corner">
        <%= image_tag "night-ppl.png" %>
        <span>253</span>
        <%= image_tag "night-pencil.png" %>
      </div>
      <h2>monday</h2>
      <p class="date">April 14, 2014</p>
      <div class="row collapse detail">
        <div class="large-4 columns">
          <span class="val girl">54</span>%
        </div>
        <div class="large-4 columns">
          <span class="val boy">46</span>%
        </div>
        <div class="large-4 columns">
          <span class="val">14</span>min
        </div>
      </div>
    </a>
  </div>

  <div class="night-box">
    <a class="inner">
      <div class="corner">
        <%= image_tag "night-ppl.png" %>
        <span>365</span>
        <%= image_tag "night-pencil.png" %>
      </div>
      <h2>SUNDAY</h2>
      <p class="date">April 13, 2014</p>
      <div class="row collapse detail">
        <div class="large-4 columns">
          <span class="val girl">52</span>%
        </div>
        <div class="large-4 columns">
          <span class="val boy">48</span>%
        </div>
        <div class="large-4 columns">
          <span class="val">21</span>min
        </div>
      </div>
    </a>
  </div>
</div>