<%= render "sidebar", current: "nightly" %>
<div class="content nightly">
  <h1>nightly info</h1>
  <div class="night-box create">
    <%= link_to venue_tonightly_path, class: "inner" do %>
      NIGHTLY INFO FOR TONIGHT
    <% end %>
  </div>
  <% @nightlies.each do |n| %>
    <div class="night-box">
      <div class="inner">
        <div class="corner">
          <span><%= n.boy_count + n.girl_count %></span>
          <%= image_tag "night-ppl.png" %>
        </div>
        <h2><%= n.created_at.strftime("%A") %></h2>
        <p class="date"><%= n.created_at.strftime("%B %e, %Y") %></p>
        <div class="row collapse detail">
          <div class="large-4 columns">
            <span class="val girl">
              <% if n.boy_count > 0 || n.girl_count > 0 %>
                <%= ((n.girl_count.to_f / (n.boy_count + n.girl_count))*100).round %>
              <% else %>
                0
              <% end %>
            </span>%
          </div>
          <div class="large-4 columns">
            <span class="val boy">
              <% if n.boy_count > 0 || n.girl_count > 0 %>
                <%= ((n.boy_count.to_f / (n.boy_count + n.girl_count))*100).round %>
              <% else %>
                0
              <% end %>
            </span>%
          </div>
          <div class="large-4 columns">
            <span class="val"><%= n.regular_wait_time %></span>min
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>