<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "YERO" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= favicon_link_tag(source='favicon.ico') %>
    <%= favicon_link_tag('/favicon.png', rel: 'apple-touch-icon', type: 'image/png') %>

    <%= csrf_meta_tags %>
    <script type='text/javascript'>
    (function (d, t) {
      var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
      bh.type = 'text/javascript';
      bh.src = '//www.bugherd.com/sidebarv2.js?apikey=jthfoxltd4tnadqxdcbahq';
      s.parentNode.insertBefore(bh, s);
      })(document, 'script');

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-59403770-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body data-no-turbolink class="<%= yield (:body_class) %>" >
    <div class="contain-to-grid top-header <% if current_page?('/venues') %>transparent<% else %>sticky<% end %>">
      <nav class="top-bar" data-topbar data-options="sticky_on: large" role="nagivation">
        <ul class="title-area">
          <li class="name">
            <!-- <h1><a href="/">YERO</a></h1> -->
            <h1>
            <%= link_to('/', :class=>'home-link') do %>
              <% if current_page?('/venues') %>
                <%= image_tag("Logo_black.png", :alt => "logo", :class => "logo show-for-small logo-black") %>
                <%= image_tag("Logo_green.png", :alt => "logo", :class => "logo hide-for-small logo-green") %>
              <% else %>
               <%= image_tag("Logo_black.png", :alt => "logo", :class => "logo logo-black") %>
              <% end %>
              <span>YERO</span>
            <% end %>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <%# if current_venue %>
              <!-- <li class="active"><%#= link_to "sign out", destroy_venue_session_path, :method => "DELETE" %></li> -->
            <%# else %>
              <!-- <li class="active"><%#= link_to "sign in", new_venue_session_path %></li> -->
            <%# end %>
             <% if current_page?('/venues') ||  current_page?('/venues-thankyou') ||  current_page?('/android-thankyou')  || current_page?('/get-in-touch') %>
              <li class="nav-alt">Already a partner?
                <%= link_to('Sign In', '/venue-login', :class=>'nav-item sign-in')%>
              </li>
            <% elsif current_page?('/venue-login') %>
              <li class="nav-alt">Don't have an account?
                <%= link_to('Get in touch', '/get-in-touch', :class=>'nav-item sign-in')%>
              </li>
            <% end %>
             <% if !current_page?('/venues') and !current_page?('/venue-login') and !current_page?('/android') and !current_page?('/beta-signup') and !current_page?('/get-in-touch') and !current_page?('/venues-thankyou') and !current_page?('/android-thankyou') %>
              <li><%= link_to('FAQ', '/faq', :class=>'nav-item '+check_active('/faq')) %></li>
              <li><%= link_to('Contact', '/contact', :class=>'nav-item '+check_active('/contact')) %></li>
              <li><%= link_to('For Venues', '/venues', :class=>'nav-item '+check_active('/venues')) %></li>
              <li class="divider"></li>
              <li class="social-link"><a href="https://twitter.com/yeroapp" class="tw"></a></li>
              <li class="social-link"><a href="https://www.facebook.com/yeroapp" class="fb"></a></li>
              <li class="social-link"><a href="http://instagram.com/yeroapp" class="ig"></a></li>
            <% end %>
            <!-- <li class="social-link"><a href="" class="yt"></a></li> -->
          </ul>
        </section>
      </nav>
    </div>
    <main>

    <%= yield %>

    <% if !current_page?('/venue-login') and !current_page?('/beta-signup') and !current_page?('/beta-thankyou') and !current_page?('/android-thankyou') %>
    <footer class="page-footer">
      <div class="row">
        <div class="medium-8 medium-centered columns">
          <ul class="footer-links medium-text-center">
            <li><%= link_to('About', '/about', :class=>'nav-item '+check_active('/about')) %></li>
            <li><%= link_to('Careers', '/careers', :class=>'nav-item '+check_active('/careers')) %></li>
            <li><%= link_to('Terms of Use', '/terms-of-use', :class=>'nav-item '+check_active('/terms-of-use')) %></li>
            <li><%= link_to('Privacy Policy', '/privacy', :class=>'nav-item '+check_active('/privacy')) %></li>
          </ul>
        </div>
      </div>
    </footer>

    <% end %>

    </main>
    <%= javascript_include_tag "application" %>
    <%= yield :javascript_library %>
    <%= yield :javascript_inline %>
  </body>
</html>